<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--STEP 配置bean的三种方式-->

	<!--构造方法-->
	<bean id="user" class="com.windea.study.spring.day01.User1"/>
	<!--静态工厂-->
	<bean id="user2" class="com.windea.study.spring.day01.User2Factory" factory-method="getUser2"/>
	<!--实例工厂-->
	<bean id="user3Factory" class="com.windea.study.spring.day01.User3Factory"/>
	<bean id="user3" factory-bean="user3Factory" factory-method="getUser3"/>

	<!--STEP 属性注入的两种方式-->

	<!--使用有参构造-->
	<bean id="propUser1" class="com.windea.study.spring.day01.PropUser1">
		<constructor-arg name="userName" value="Windea"/>
	</bean>

	<!--使用set方法-->
	<bean id="propUser2" class="com.windea.study.spring.day01.PropUser2">
		<property name="userName" value="Windea"/>
	</bean>

	<!--注入对象类型属性-->
	<bean id="userDao" class="com.windea.study.spring.day01.UserDao1"/>
	<bean id="userService" class="com.windea.study.spring.day01.UserService1">
		<property name="dao" ref="userDao"/>
	</bean>

	<!--注入复杂类型属性-->
	<bean id="users" class="com.windea.study.spring.day01.Users">
		<!--数组也是使用list标签-->
		<property name="userList">
			<list>
				<value>Windea</value>
				<value>Evera</value>
			</list>
		</property>
		<property name="userMap">
			<map>
				<entry key="1" value="1"/>
				<entry key="2" value="2"/>
			</map>
		</property>
		<property name="userProps">
			<props>
				<prop key="1">1</prop>
				<prop key="2">2</prop>
			</props>
		</property>
	</bean>


</beans>
