<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windea.study.thymeleaf.demo.base.mapper.IAnimalMapper">
	<!--auto generated Code-->
	<resultMap id="BaseResultMap" type="com.windea.study.thymeleaf.demo.base.domain.Animal">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="count" property="count" jdbcType="INTEGER"/>
		<result column="memo" property="memo" jdbcType="VARCHAR"/>
	</resultMap>

	<!--auto generated Code-->
	<sql id="Base_Column_List">
			id,
			name,
			count,
			memo
	</sql>

	<!--auto generated Code-->
	<insert id="insert" parameterType="com.windea.study.thymeleaf.demo.base.domain.Animal">
		insert into animal_form (name,
		                         count,
		                         memo)
		values (#{animal.name,jdbcType=VARCHAR},
		        #{animal.count,jdbcType=INTEGER},
		        #{animal.memo,jdbcType=VARCHAR})
	</insert>

	<!--auto generated Code-->
	<insert id="insertSelective" parameterType="com.windea.study.thymeleaf.demo.base.domain.Animal">
		insert into animal_form
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="animal.name!=null">name,</if>
			<if test="animal.count!=null">count,</if>
			<if test="animal.memo!=null">memo,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="animal.name!=null">#{animal.name,jdbcType=VARCHAR},
			</if>
			<if test="animal.count!=null">#{animal.count,jdbcType=INTEGER},
			</if>
			<if test="animal.memo!=null">#{animal.memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateById">
		update animal_form
		set name=#{animal.name},
		    count=#{animal.count},
		    memo=#{animal.memo}
		where id = #{animal.id}
	</update>

	<!--auto generated Code-->
	<update id="updateByIdSelective">
		update animal_form
		<set>
			<if test="animal.name != null">name= #{animal.name,jdbcType=VARCHAR},</if>
			<if test="animal.count != null">count= #{animal.count,jdbcType=INTEGER},</if>
			<if test="animal.memo != null">memo= #{animal.memo,jdbcType=VARCHAR}</if>
		</set>
		where id = #{animal.id,jdbcType=INTEGER}
	</update>

	<!--auto generated by MybatisCodeHelper on 2019-02-18-->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from animal_form
	</select>

	<!--auto generated by MybatisCodeHelper on 2019-02-18-->
	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from animal_form
		where id=#{id,jdbcType=INTEGER}
	</select>

	<!--auto generated by MybatisCodeHelper on 2019-02-18-->
	<select id="findByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from animal_form
		where `name`=#{name,jdbcType=VARCHAR}
	</select>

	<!--auto generated by MybatisCodeHelper on 2019-02-18-->
	<delete id="deleteById">
		delete
		from animal_form
		where id = #{id,jdbcType=INTEGER}</delete>

	<!--auto generated by MybatisCodeHelper on 2019-02-18-->
	<select id="findByNameLike" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from animal_form
		where `name` like concat('%',#{likeName,jdbcType=VARCHAR},'%')
	</select>


</mapper>

