<?xml version="1.0" encoding="UTF-8"?>
<!--NOTE 仅供参考-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--（省略）配置其他bean，包括dataSource和jdbcTemplate-->

	<!--STEP 配置事务管理器-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--STEP 配置事务增强-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--参数：service层增强的方法名称/名称匹配规则，传播行为（默认为REQUIRED）-->
			<!--用*匹配任意位数的字符-->
			<tx:method name="transfer" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!--STEP 配置切面-->
	<aop:config>
		<!--切入点-->
		<aop:pointcut id="pointcut1" expression="execution(* com.windea.study.spring.main.day03.tx.TxService.*(..))"/>
		<!--切面-->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut1"/>
	</aop:config>
</beans>
